CPOS.Web/Service References/SaturnServiceReference/SaturnService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAuthenticationCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReqContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAuthenticationCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAuthenticationCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAuthenticationCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getAuthenticationCode" />
  </wsdl:message>
  <wsdl:message name="getAuthenticationCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getAuthenticationCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="SaturnServiceSoap">
    <wsdl:operation name="getAuthenticationCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">商品认证接口。参数为json键值对（格式:1、common 统一的基本参数，包含userId：用户Id，version:版本号 2、special每个接口另外的具体参数，包括authCode:认证码；captchaCode:验证码）。 </wsdl:documentation>
      <wsdl:input message="tns:getAuthenticationCodeSoapIn" />
      <wsdl:output message="tns:getAuthenticationCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaturnServiceSoap" type="tns:SaturnServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAuthenticationCode">
      <soap:operation soapAction="http://tempuri.org/getAuthenticationCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaturnServiceSoap12" type="tns:SaturnServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAuthenticationCode">
      <soap12:operation soapAction="http://tempuri.org/getAuthenticationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaturnService">
    <wsdl:port name="SaturnServiceSoap" binding="tns:SaturnServiceSoap">
      <soap:address location="http://61.50.149.75:84/SaturnService.asmx" />
    </wsdl:port>
    <wsdl:port name="SaturnServiceSoap12" binding="tns:SaturnServiceSoap12">
      <soap12:address location="http://61.50.149.75:84/SaturnService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>