CPOS.BS.Web/Service References/MapKpiService/MapKpiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MapKpiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JIT.MapAnalysis.DataService.Contracts" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/JIT.MapAnalysis.DataService" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMapKpiService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetThreshold_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThreshold" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetThreshold_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThresholdResponse" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKpiByClientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKpiByClientId" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKpiByClientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKpiByClientIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKPIs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKPIs" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKPIs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKPIsResponse" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKpiDataByJsonParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKpiDataByJsonParameter" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKpiDataByJsonParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKpiDataByJsonParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKpiData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKpiData" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKpiData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKpiDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKpiDataExportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKpiDataExportData" />
  </wsdl:message>
  <wsdl:message name="IMapKpiService_GetKpiDataExportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKpiDataExportDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMapKpiService">
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapKpiService/GetAllCategories" message="tns:IMapKpiService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapKpiService/GetAllCategoriesResponse" message="tns:IMapKpiService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThreshold">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapKpiService/GetThreshold" message="tns:IMapKpiService_GetThreshold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapKpiService/GetThresholdResponse" message="tns:IMapKpiService_GetThreshold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKpiByClientId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapKpiService/GetKpiByClientId" message="tns:IMapKpiService_GetKpiByClientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapKpiService/GetKpiByClientIdResponse" message="tns:IMapKpiService_GetKpiByClientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKPIs">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapKpiService/GetKPIs" message="tns:IMapKpiService_GetKPIs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapKpiService/GetKPIsResponse" message="tns:IMapKpiService_GetKPIs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKpiDataByJsonParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapKpiService/GetKpiDataByJsonParameter" message="tns:IMapKpiService_GetKpiDataByJsonParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapKpiService/GetKpiDataByJsonParameterResponse" message="tns:IMapKpiService_GetKpiDataByJsonParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKpiData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapKpiService/GetKpiData" message="tns:IMapKpiService_GetKpiData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapKpiService/GetKpiDataResponse" message="tns:IMapKpiService_GetKpiData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKpiDataExportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapKpiService/GetKpiDataExportData" message="tns:IMapKpiService_GetKpiDataExportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapKpiService/GetKpiDataExportDataResponse" message="tns:IMapKpiService_GetKpiDataExportData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMapKpiService" type="tns:IMapKpiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IMapKpiService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreshold">
      <soap:operation soapAction="http://tempuri.org/IMapKpiService/GetThreshold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKpiByClientId">
      <soap:operation soapAction="http://tempuri.org/IMapKpiService/GetKpiByClientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKPIs">
      <soap:operation soapAction="http://tempuri.org/IMapKpiService/GetKPIs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKpiDataByJsonParameter">
      <soap:operation soapAction="http://tempuri.org/IMapKpiService/GetKpiDataByJsonParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKpiData">
      <soap:operation soapAction="http://tempuri.org/IMapKpiService/GetKpiData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKpiDataExportData">
      <soap:operation soapAction="http://tempuri.org/IMapKpiService/GetKpiDataExportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapKpiService">
    <wsdl:port name="BasicHttpBinding_IMapKpiService" binding="tns:BasicHttpBinding_IMapKpiService">
      <soap:address location="http://www.jitmarketing.cn:18101/Impls/MapKpiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>