CPOS.BS.WebServices/Web References/ShortUrlChangeService/ShortUrlChangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetShortUrlChange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OldUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetShortUrlChangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetShortUrlChangeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ShortUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SetShortUrlChangeSoapIn">
    <wsdl:part name="parameters" element="tns:SetShortUrlChange" />
  </wsdl:message>
  <wsdl:message name="SetShortUrlChangeSoapOut">
    <wsdl:part name="parameters" element="tns:SetShortUrlChangeResponse" />
  </wsdl:message>
  <wsdl:portType name="ShortUrlChangeServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetShortUrlChange">
      <wsdl:input message="tns:SetShortUrlChangeSoapIn" />
      <wsdl:output message="tns:SetShortUrlChangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShortUrlChangeServiceSoap" type="tns:ShortUrlChangeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetShortUrlChange">
      <soap:operation soapAction="http://tempuri.org/SetShortUrlChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShortUrlChangeServiceSoap12" type="tns:ShortUrlChangeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetShortUrlChange">
      <soap12:operation soapAction="http://tempuri.org/SetShortUrlChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShortUrlChangeService">
    <wsdl:port name="ShortUrlChangeServiceSoap" binding="tns:ShortUrlChangeServiceSoap">
      <soap:address location="http://o2oapi.aladingyidong.com/WebServices/ShortUrlChangeService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShortUrlChangeServiceSoap12" binding="tns:ShortUrlChangeServiceSoap12">
      <soap12:address location="http://o2oapi.aladingyidong.com/WebServices/ShortUrlChangeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>