CPOS.Web/Web References/SendSMSService/ReceiveService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Recieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecieveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecieveSoapIn">
    <wsdl:part name="parameters" element="tns:Recieve" />
  </wsdl:message>
  <wsdl:message name="RecieveSoapOut">
    <wsdl:part name="parameters" element="tns:RecieveResponse" />
  </wsdl:message>
  <wsdl:portType name="ReceiveServiceSoap">
    <wsdl:operation name="Recieve">
      <wsdl:input message="tns:RecieveSoapIn" />
      <wsdl:output message="tns:RecieveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReceiveServiceSoap" type="tns:ReceiveServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Recieve">
      <soap:operation soapAction="http://tempuri.org/Recieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReceiveServiceSoap12" type="tns:ReceiveServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Recieve">
      <soap12:operation soapAction="http://tempuri.org/Recieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReceiveService">
    <wsdl:port name="ReceiveServiceSoap" binding="tns:ReceiveServiceSoap">
      <soap:address location="http://112.124.68.147:8099/ReceiveService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReceiveServiceSoap12" binding="tns:ReceiveServiceSoap12">
      <soap12:address location="http://112.124.68.147:8099/ReceiveService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>