CPOS.BS.Web/Service References/ReportService/MSTRIntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MSTRIntegrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.jitmarketing.cn:7084/MSTRIntegrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:7084/MSTRIntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:7084/MSTRIntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Utility.MSTRIntegration.WcfService" />
      <xsd:import schemaLocation="http://www.jitmarketing.cn:7084/MSTRIntegrationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMSTRIntegrationService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_GetMstrReportUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMstrReportUrl" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_GetMstrReportUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMstrReportUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_SwitchLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchLanguage" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_SwitchLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMSTRIntegrationService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IMSTRIntegrationService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSTRIntegrationService/GetData" message="tns:IMSTRIntegrationService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSTRIntegrationService/GetDataResponse" message="tns:IMSTRIntegrationService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMstrReportUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSTRIntegrationService/GetMstrReportUrl" message="tns:IMSTRIntegrationService_GetMstrReportUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSTRIntegrationService/GetMstrReportUrlResponse" message="tns:IMSTRIntegrationService_GetMstrReportUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSTRIntegrationService/Login" message="tns:IMSTRIntegrationService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSTRIntegrationService/LoginResponse" message="tns:IMSTRIntegrationService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSTRIntegrationService/Logout" message="tns:IMSTRIntegrationService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSTRIntegrationService/LogoutResponse" message="tns:IMSTRIntegrationService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSTRIntegrationService/SwitchLanguage" message="tns:IMSTRIntegrationService_SwitchLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSTRIntegrationService/SwitchLanguageResponse" message="tns:IMSTRIntegrationService_SwitchLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSTRIntegrationService/GetDataUsingDataContract" message="tns:IMSTRIntegrationService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSTRIntegrationService/GetDataUsingDataContractResponse" message="tns:IMSTRIntegrationService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMSTRIntegrationService" type="tns:IMSTRIntegrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMSTRIntegrationService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMstrReportUrl">
      <soap:operation soapAction="http://tempuri.org/IMSTRIntegrationService/GetMstrReportUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMSTRIntegrationService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IMSTRIntegrationService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SwitchLanguage">
      <soap:operation soapAction="http://tempuri.org/IMSTRIntegrationService/SwitchLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMSTRIntegrationService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSTRIntegrationService">
    <wsdl:port name="BasicHttpBinding_IMSTRIntegrationService" binding="tns:BasicHttpBinding_IMSTRIntegrationService">
      <soap:address location="http://www.jitmarketing.cn:7084/MSTRIntegrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>